.body{
    margin: 0 auto;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 20px; 
 
}
.logo h1 {
  margin: 0;
  font-size: 24px;
  color: #BAA598;
}
nav {
  flex-grow: 1;
  color: #BAA598;
}
.linki {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  color: #BAA598;
}
.linki li {
  margin-left: 20px;
}
.linki a {
  text-decoration: none;
  color: #BAA598; 
  font-weight: bold;
}


.container1{
align-items: center;
display: flex;
justify-content: center; 
color: #575d65;
gap: 200px;




}

.card-container {
  display: flex;
  justify-content: center; 
  color: #000000; 

}
.card {
  background-color: #fff;
  width: 400px; 
  text-align: center;
  margin: 20px;
}
.card img {
  width: 100%;
}
.button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 15px; 
  border-radius: 24px; 
  border: 1px solid #BAA598;
}





footer {
  background-color:#d2e2dc;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: auto;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-section {
  width: 22%;
}
.footer-section h4 {
  margin-bottom: 10px;
}
.footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 5px;
}
.footer-section ul li a {
  text-decoration: none;
  color: #575d65;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}
.footer-bottom a {
  text-decoration: none;
  color: #575d65;
}