body{
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
}
  .logo h1 {
    margin: 0;
    font-size: 24px;
    color:#BAA598; 
  }
  nav {
    flex-grow: 1;
  }
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    color: #BAA598;
  }
  .nav-links li {
    margin-left: 20px;
  }
  .nav-links a {
    text-decoration: none;
    color: #BAA598; 
    font-weight: bold;
  }
.col {
  background-color: #BAA598;
}










  .product-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.product-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 15px; 
    width: 300px; 
    text-align: center; 
    margin: 10px;
}

.product-card img {
    max-width: 100%; 
    height: auto; 
}

button {
    background-color: #f10000; 
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}













  footer {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color:  #d2e2dc;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .footer-section {
    width: 22%;
  }
  .footer-section h4 {
    margin-bottom: 10px;
  }
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  .footer-section ul li {
    margin-bottom: 5px;
  }
  .footer-section ul li a {
    text-decoration: none;
    color: #333;
  }
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
  }
  .footer-bottom a {
    text-decoration: none;
    color: #575d65;
  }